@charset "UTF-8";
/* CSS Document */



/*logo*/

.logo img{
float: inherit;
width:150px;
transition: 0.25 ease-in-out;
}

/* navigation bar*/


nav {
	float: center;
	margin-right: 100px;
	margin-left:  100px;
	padding-left: 20px;
	padding-right: 20px;
	
}

body {
	max-width: 1024px;
	margin-left:auto;
	margin-right:auto;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	
}


.movies{
	margin: 1%;
}

h4{
	color: white;
	background-color: darkturquoise;
	border-color: black;
	text-align: center;
}

.var messages{
	color: white;
}

body {
	background-image: url("blossom.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

nav ul{
	padding: 0px;
	margin:0px;
	text-align: center;
	display: inline-block;
	vertical-align:top;
}

nav ul li {
	list-style-type: none;
	padding-left: 20px;
	text-align: right;
	display:inline-block;
}

nav ul li a {
	text-decoration: none;
	color:lightseagreen;
}


h1 {
	color:black;
	font-size: 70px;
	padding-bottom: 30px;
	padding-left: 68px;
	
}

h3{
	color: white;
	text-align: center;
}



.col img {
	width: 100%;
	height: auto;
	display: block;
	margin: 1%;
}

/*books gallery section*/

.main
{
	box-sizing: border-box;
	max-width: 50px;
	margin:1%;
}


.row{
	margin: 4px -6px;
}

.row,
.row > .column{
	padding: 2px;
}

.column{
	float: left;
	width: 50%;
}

.row{
	content: "";
	display: table;
	clear: both;
	margin: 1%;
}


.container{
	position: center;
	column-count: 5;
}

.image{
	display: inline-block;
	margin-bottom: 1px;
	overflow: hidden;
}

img{
	width:100px;
	transition: 0.25s ease-in-out;
	margin: 1%;
}

h1{
	position: absolute;
	padding: 3px;
	margin: 2px;
	font-size: 25px;
	border-radius: 2px;
	opacity: 0;
	z-index: 1;
	transition: 0.25 ease-in-out;
}


@media screen and (max-width:900px){
	.column{
		width: 50%;
	}
}

@Media screen and (max-width:600px){
	.column{
		width: 100%;
	}
}


/*about page section*/

.aboutpage {
	width: 100%;
	height: auto;
	display: block;
	background-position: center;
	margin: 1%
	
}


/*tablet*/

@media (max-width:768px){
	h1 {
		font-size: 60px;
		text-align: center;
		padding-left: 0px;
	}
	
	nav ul li{
		display:block;
	}
}


/*phone*/
@media (max-width:400px){
	h1 {
		font-size: 20px;
	}
}

/* About Page */

main.about_me{
	
}

.main.about_me .wrapper{
	min-height: auto;
}

main.about_me .wrapper .left{
	flex:none;
	padding: 40px;
}

main.about_me .wrapper .left img{
	width: 200px;
	height: auto;
	background:white;
	border-radius: 50%; border: 5px dotted #16FFFF; 
}

main.about_me .wrapper .right p{
	margin-top: 20px;
	line-height: 1.6;
}



/* books*/


@media screen and (max-width:1024px){
	h1{
		font-size: 20px;
	}
}


@media screen and (max-width:768px){
	.container{
		column-count: 3;
	}
}


@media screen and (max-width:425px){
	.container{
		column-count: 2;
	}
	h1{
		font-size: 12px;
	}
}


@media screen and (max-width:375px){
	.container{
		column-count: 1;
	}
	h1{
		font-size: 15px;
	}
}

