@charset "UTF-8";
/* CSS Document */






nav {
	float: right;
	padding-right: 20px;
	
}

body {
	max-width: 1024px;
	margin-left:auto;
	margin-right:auto;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	
}

nav ul li {
	list-style-type: none;
	padding-left: 20px;
	text-align: right;
	display:inline-block;
}

nav ul li a {
	text-decoration: none;
	color:lightseagreen;
}


h1 {
	color:black;
	font-size: 70px;
	padding-bottom: 30px;
	padding-left: 68px;
	
}

.col img {
	width: 100%;
	height: auto;
	display: block;
	margin: 1%;
}


.aboutpage {
	width: 100%;
	height: auto;
	display: block;
	background-position: center;
	margin: 1%
	
}

/*tablet*/

@media (max-width:768px){
	h1 {
		font-size: 60px;
		text-align: center;
		padding-left: 0px;
	}
	
	nav ul li{
		display:block;
	}
}


/*phone*/
@media (max-width:400px){
	h1 {
		font-size: 20px;
	}
}

/* About Page */

main.about_me{
	
}

.main.about_me .wrapper{
	min-height: auto;
}

main.about_me .wrapper .left{
	flex:none;
	padding: 40px;
}

main.about_me .wrapper .left img{
	width: 200px;
	height: auto;
	background:white;
	border-radius: 50%; border: 5px dotted #16FFFF; 
}

main.about_me .wrapper .right p{
	margin-top: 20px;
	line-height: 1.6;
}




/*books*/

.container{
max-width:1200px;
margin:auto;
background:#f2f2f2;
overflow:auto;
}

.books{
margin:5px;
border:1px solid #ccc;
float:left;
width:390px;
}

.books img{
width:100%;
height:auto;
}


desc{
padding:15px;
text-align:center;
}


footer
All rights resered web master
footer

footer{
padding:10px;
font-size:17px;
font-weight:bold;
text-align:center;
background:#594848;
color:white;
font-family:Arial;
letter-spacing:1px;
}

/*illustrations*/

.vault{
position:relative;
column-count:4;
padding:20px;
}

.image{
display:inline-block;
margin-bottom:10px;
overflow:hidden;
}

img{
width:100px;
transition: 0.25 ease-in-out;
}

.image:hover img{
transform:scale(1.1);
}

@media screen and (max-width:1024px){
h1{
font-size: 20px;
}
}

@media screen and (max-width:768px){
.vault{
column-count:3;
}
}

@media screen and (max-width:425px){
.vault{
column-count:2;
}
h1 {
font-size:12px;
}
}

@media screen and (max-width:375px){
.vault{
column-count:1;
}
h1 {
font-size:15px;
}
}




h1{
position:absolute;
padding:5px;
margin:5px;
font-size:25px;
background: black;
color: white;
border-radius: 5px;
opacity:0;
z-index:1;
transition:0.25 ease-in-out;
}



